<app-header></app-header>
<div class="minecraft-form">
  <h2>Contact Me</h2>
  <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="eb0282af-d756-4662-a354-a9a268f29ef2" />
    <input type="text" name="name" placeholder="Your Name" class="message-info" />
    <input type="email" name="email" placeholder="Your Email" class="message-info" />
    <textarea name="message" placeholder="Your Message" class="message-area"></textarea>
    <button type="submit" class="submit-btn">Send</button>
  </form>
</div>
