<app-header></app-header>
  <section id="projects">
    <h2>Projects</h2>

    <div class="project1">
      <h3>Queue Management System</h3>
      <p>An Angular + Node.js application with multiple service lanes and real-time updates using MongoDB.</p>
    </div>

    <div class="project2">
      <h3>Artisan Marketplace</h3>
      <p>A PHP-based e-commerce site that helps local sellers offer handmade products. Built with MySQL and Bootstrap.</p>
    </div>

    <div class="project3">
      <h3>Student Dashboard</h3>
      <p>Custom student dashboard for managing schedules, built with HTML, PHP, and SQL.</p>
    </div>
</section>

<section id="up-projects">
    <h2>Upcomming Projects</h2>

    <div class="up-projects1">
      <h3>Parking System</h3>
      <p>Parking System that would trace a Users information and collect their time in and time out(ai related would be possbile)</p>
    </div>

    <div class="up-projects2">
        <h3>Sign Langauge System</h3>
        <p>this would be in favor for poeple who use sign language to talk into other people that dont have any knowledge about sign language</p>
    </div>
</section>


