<app-header></app-header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div class="about">
  <img src="image/aki.gif" alt="hello" class="img-hello">
  <h3>Hello I am Shinn</h3>
  <p>Driven by curiosity and passion,
    I’m always eager to learn new skills, explore new tools, and grow through hands-on experience.
     Whether working in a team or independently,
    I bring a positive attitude, strong work ethic, and a mindset that’s always ready to improve.".</p>
</div>


<div class="row1">
  <h3>What Framework I Learned</h3>

  <p>Angular</p>
  <p>PHP</p>
  <p>Javascript</p>
  <p>Node.js</p>
  <img src="image/favicon.ico" alt="Angular" style="width: 80px; margin: 10px;">
  <img src="image/php.png" alt="Angular" style="width: 80px; margin: 10px;">
  <img src="image/javascript.png" alt="Angular" style="width: 80px; margin: 10px;">
  <img src="image/node.webp" alt="Angular" style="width: 80px; margin: 10px;">
</div>

<div class="row2">
  <h3>What Framework I Want To Learn</h3>
  <p>React</p>
  <p>Vue</p>
  <p>Flutter</p>
  <p>c#</p>
  <img src="image/flutter.png" alt="Angular" style="width: 70px; margin: 10px;">
  <img src="image/vue.png" alt="Node.js" style="width: 80px; margin: 10px;">
  <img src="image/react.png" alt="Angular" style="width: 80px; margin: 10px;">
  <img src="image/csharp.png" alt="Angular" style="width: 110px; margin: 10px;">
</div>

<div class="row3">
  <h3>Kindly click the Creeper Head to return home</h3>
</div>

</body>

