<app-header></app-header>
<div class="pickaxe-container" (click)="showHobbies = !showHobbies">
  <img src="image/pickaxe.png" alt="Click the pickaxe!" class="img-pickaxe-button">
  <p class="click-msg">Click the Pickaxe to reveal my hobbies!</p>
</div>

<div class="hobbies" *ngIf="showHobbies">
  <h3>My Hobbies</h3>
  <img src="image/kon.webp" alt="Pickaxe" class="img-pickaxe">
  <h3>Gaming</h3>
<p>I love immersing myself in different worlds through games.
Whether it’s competitive multiplayer like Valorant, survival games like Minecraft,
or story-rich adventures, gaming helps me unwind and stay sharp</p>
  <h3>Sleeping</h3>
  <p>I may not get a full 8 hours, but sleep is sacred.
    It resets my mind and body. Power naps? Lifesavers.</p>
  <h3>Basketball</h3>
  <p>I enjoy the rush of the game, the strategy, and the teamwork.
    Shooting hoops with friends or just practicing helps me stay active and refreshed.</p>
  <h3>Watching Movies, Anime and Series</h3>
  <p>I'm a huge fan of good storytelling.
    Whether it’s emotional anime (Your Name, Attack on Titan),
    thrilling series, or feel-good movies </p>
  <h3>Cooking</h3>
  <p>I LOVE TO COOK.</p>
  <p>Cooking isn’t just a chore for me — it’s an art. I love experimenting in the kitchen,
    learning recipes from YouTube, and feeding others. It’s rewarding, fun, and delicious.
    and after cooking? you already know I EAT
  </p>
</div>
